.root {
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}


.area {
    -fx-font-family: "MS Comic Sans";
    -fx-font-size: 14px;
    -fx-background-color: #262626;
    -fx-padding: 4;
    -fx-highlight-fill: gold;
}

.area .caret {
    -fx-stroke: white;
    /* #0ed9e0; */
}

.area .text {
    -fx-font-size: 14px;
    -fx-fill: white;
    -fx-font-weight: none;
    -fx-font-style: none;
    -fx-underline: false;

}

.area .selection {
    -fx-fill: green;
}


.lineno {
    -fx-background-color: #323232;
}

.area .tag {
    -fx-font-size: 1.3em;
    -fx-fill: yellow;
}

.area .num {
    -fx-fill: #0ed9e0;
}

.area .v {
    -fx-font-size: 1.2em;
    -fx-fill: yellowgreen;
}

.area .x {
    -fx-font-size: 1.2em;
    -fx-fill: red;
}

.area .dict {
    -fx-fill: red;
}